Repository microsoft/fluentui-apple, pull requests merged in 2021-06, with the labels that each got.

#593 Fix `BottomCommandingController` table view getting removed from superview
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
Labels: bottomSheet

#592 Add a dimming view to `BottomSheetController`
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#591 Add `isHidden` to `BottomCommandingController` and `BottomSheetController`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#608 [vNext] Internal init for AvatarView, to be used in collections
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#609 Bumping versions for version update (0.2.8)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#597 [vNext] Initial submission of PersonaButton
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/PersonaButtonCarouselDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/PersonaButton/MSFPersonaButtonTokens.generated.swift
  ios/FluentUI/Vnext/PersonaButton/PersonaButton.swift
  ios/FluentUI/Vnext/PersonaButton/PersonaButtonTokens.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/MSFPersonaButtonCarouselTokens.generated.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/PersonaButtonCarousel.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/PersonaButtonCarouselTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFPersonaButtonCarouselTokens.generated.swift
  tools/sgen/output/MSFPersonaButtonTokens.generated.swift
Labels: vnext-prototype

#610 [vNext] Fix PersonaButton labels for longer names
  ios/FluentUI/Vnext/PersonaButton/MSFPersonaButtonTokens.generated.swift
  ios/FluentUI/Vnext/PersonaButton/PersonaButton.swift
  ios/FluentUI/Vnext/PersonaButton/PersonaButtonTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFPersonaButtonTokens.generated.swift
Labels: vnext-prototype

#615 Add simplified inits and `tag` to `CommandingItem`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Commanding/CommandingItem.swift
Labels: bottomSheet

#616 Add a sheet expansion button to `BottomCommandingController`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#617 [vNext] Fix `Avatar` image rendering mode
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#614 [vNext] PersonaButtonCarousel
  ios/FluentUI.Demo/FluentUI.Demo/Demos/PersonaButtonCarouselDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Avatar/MSFAvatarPresence.swift
  ios/FluentUI/Vnext/PersonaButton/MSFPersonaButton.swift
  ios/FluentUI/Vnext/PersonaButton/PersonaButton.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/MSFPersonaButtonCarousel.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/MSFPersonaButtonCarouselTokens.generated.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/PersonaButtonCarousel.swift
  ios/FluentUI/Vnext/PersonaButtonCarousel/PersonaButtonCarouselTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFPersonaButtonCarouselTokens.generated.swift
Labels: vnext-prototype
