Repository microsoft/fluentui-apple, pull requests merged in 2021-05, with the labels that each got.

#551 Making window provider an Environment Value.
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Core/Theming.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListHeaderFooter.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype

#553 Enabling Large Text accessibility support on iOS 13.
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Core/SwiftUI+ViewModifiers.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListHeaderFooter.swift
Labels: vnext-prototype

#558 Fixing pbxproj to add back UIKit+SwiftUI_interoperability.swift file.
  ios/FluentUI.xcodeproj/project.pbxproj
Labels: vnext-prototype

#559 Removing the target button reference from the ButtonStyle.
  ios/FluentUI/Vnext/Button/Button.swift
Labels: vnext-prototype

#552 Bottom commanding controller
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Bottom Sheet/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
  ios/FluentUI/Bottom Sheet/CommandingItem.swift
  ios/FluentUI/Bottom Sheet/CommandingSection.swift
  ios/FluentUI/Tab Bar/TabBarItemView.swift
Labels: bottomSheet

#565 Introducing the Vnext Activity Indicator.
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ActivityIndicatorDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/ActivityIndicator/ActivityIndicator.swift
  ios/FluentUI/Vnext/ActivityIndicator/ActivityIndicatorTokens.swift
  ios/FluentUI/Vnext/ActivityIndicator/MSFActivityIndicatorTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFActivityIndicatorTokens.generated.swift
Labels: vnext-prototype

#568 Bumping Vnext podspec number for MSBLOX release (0.0.3).
  MicrosoftFluentUIVnext.podspec
Labels: vnext-prototype

#567 Bumping versions for version update (0.2.7)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#571 Bumping versions for version update (0.2.7)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#566 Various clean up of bottomSheet-dev before merge into main
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Bottom Commanding/BottomCommanding.resources.xcfilelist
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Commanding/CommandingItem.swift
  ios/FluentUI/Bottom Commanding/CommandingSection.swift
  ios/FluentUI/Resources/Localization/en.lproj/Localizable.strings
Labels: bottomSheet

#574 Merge in-progress Bottom Sheet work into Main
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Bottom Commanding/BottomCommanding.resources.xcfilelist
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Commanding/CommandingItem.swift
  ios/FluentUI/Bottom Commanding/CommandingSection.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetPassthroughView.swift
  ios/FluentUI/Resources/Localization/en.lproj/Localizable.strings
  ios/FluentUI/Tab Bar/TabBarItemView.swift
Labels: bottomSheet

#585 Adding setting to suppress Avatar ring inner gap.
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController.swift
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype

#586 Avatar Vnext: Adding capability to set an image based custom ring color.
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController.swift
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype

#588 Cleaning up build warnings on the vnext-prototype branch.
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Core/FluentUIStyle.generated.swift
  tools/sgen/Sources/SGen/Generatable/Stylesheet.swift
  tools/sgen/output/FluentUIStyle.generated.swift
Labels: vnext-prototype

#589 Avatar API improvements.
  ios/FluentUI/Navigation/Views/LargeTitleView.swift
  ios/FluentUI/Tab Bar/SideTabBar.swift
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype

#590 Bumping Vnext podspec number for MSBLOX release (0.0.4).
  MicrosoftFluentUIVnext.podspec
Labels: vnext-prototype
