Repository microsoft/fluentui-apple, pull requests merged in 2021-07, with the labels that each got.

#622 Auto-size `BottomCommandingController` based on item count
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#623 Adopt the container pattern in `BottomCommandingController`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
Labels: bottomSheet

#628 [vNext] Update PersonaButton accessibility spacing to match new designs
  ios/FluentUI/Vnext/PersonaButton/PersonaButton.swift
Labels: vnext-prototype

#627 [DrawerController]Changing default to vNext token
  ios/FluentUI/Drawer/DrawerController.swift
  ios/FluentUI/Drawer/DrawerShadowView.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.generated.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFDrawerTokens.generated.swift
Labels: vnext-prototype

#630 Bumping Vnext podspec number for MSBLOX release (0.0.5).
  MicrosoftFluentUIVnext.podspec
Labels: vnext-prototype

#632 Add sheet sizing helpers to `BottomCommandingController` and `BottomSheetController`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#603 [vNext] AvatarGroup Control
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarGroupDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/AvatarGroup/AvatarGroup.swift
  ios/FluentUI/Vnext/AvatarGroup/AvatarGroupTokens.swift
  ios/FluentUI/Vnext/AvatarGroup/MSFAvatarGroupTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFAvatarGroupTokens.generated.swift
Labels: vnext-prototype

#637 Bumping to version 0.2.9
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#638 Add auto-collapsing of the bottom sheet when a command is executed
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
Labels: bottomSheet

#629 [vNext] Fixing List dividers: last cell with children shows an additional divider
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListCell.swift
Labels: vnext-prototype

#645 Ensure only iPad gets the bottom bar layout in `BottomCommandingController`
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
Labels: bottomSheet

#641 Add state tracking callbacks to `BottomCommandingController` and `BottomSheetController`
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
Labels: bottomSheet

#644 Add support for 2-line hero command titles in `BottomCommandingController`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomCommandingDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
  ios/FluentUI/Tab Bar/TabBarItemView.swift
Labels: bottomSheet

#652 Making the Avatar Vnext Demo controller Large Text friendly.
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarGroupDemoController.swift
Labels: vnext-prototype

#653 Bumping to version 0.2.10
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#654 Bumping main_0.1 branch version (0.1.35)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#657 Fixing avatar behavior for .outlined and .outlinedPrimary styles when initials can be computed.
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#656 [FHL] Initial version of the SwiftUI Avatar Demo Controller.
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/SwiftUI/FluentUIDemoToggle.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Avatar/AvatarModifiers.swift
Labels: vnext-prototype
