Repository microsoft/fluentui-apple, pull requests merged in 2021-04, with the labels that each got.

#515 Adding conditional modifier for SwiftUI views.
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Core/SwiftUI+ViewModifiers.swift
  ios/FluentUI/Vnext/Drawer/Drawer+UIKit.swift
  ios/FluentUI/Vnext/List/List.swift
Labels: vnext-prototype

#519 Bumping versions for version update (0.2.5)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#517 Improving Avatar animation support.
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#528 Adding capability to disable safe area insets in a UIHostingController.
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/Core/UIKit+SwiftUI_interoperability.swift
Labels: vnext-prototype

#527 Adding iPad Pointer Interaction support to the Avatar.
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController.swift
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#514 Add Floating Action styles to vNext button
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ButtonDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ThemingDemoController.swift
  ios/FluentUI/Vnext/Avatar/MSFAvatarTokens.generated.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Button/ButtonTokens.swift
  ios/FluentUI/Vnext/Button/MSFButtonTokens.generated.swift
  ios/FluentUI/Vnext/Core/FluentUIStyle.generated.swift
  ios/FluentUI/Vnext/List/MSFHeaderFooterTokens.generated.swift
  ios/FluentUI/Vnext/List/MSFListCellTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/FluentUIStyle.generated.swift
  tools/sgen/output/MSFAvatarTokens.generated.swift
  tools/sgen/output/MSFButtonTokens.generated.swift
  tools/sgen/output/MSFHeaderFooterTokens.generated.swift
  tools/sgen/output/MSFListCellTokens.generated.swift
Labels: vnext-prototype

#535 Replacing AvatarView with Avatar Vnext throughout FluentUI library.
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Demos/SideTabBarDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Navigation/NavigationBar.swift
  ios/FluentUI/Navigation/Views/LargeTitleView.swift
  ios/FluentUI/People Picker/ContactView.swift
  ios/FluentUI/People Picker/PersonaCell.swift
  ios/FluentUI/Tab Bar/SideTabBar.swift
  ios/FluentUI/Vnext/Avatar/AvatarTokens.swift
Labels: vnext-prototype

#537 Improving Avatar animations.
  ios/FluentUI/Vnext/Avatar/Avatar.swift
Labels: vnext-prototype

#534 V1 of empty BottomSheetController
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BottomSheetDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Bottom Sheet/BottomSheetController.swift
  ios/FluentUI/Bottom Sheet/BottomSheetPassthroughView.swift
Labels: bottomSheet

#540 Adding Large Content Viewer support to the Button.
  ios/FluentUI/Vnext/Button/Button.swift
Labels: vnext-prototype

#475 Adding Persona View Control
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ObjectiveCDemoController.m
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/Avatar/Avatar.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/List/MSFListCellTokens.generated.swift
  ios/FluentUI/Vnext/Persona/MSFPersonaViewTokens.generated.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
  ios/FluentUI/Vnext/Persona/PersonaViewTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFListCellTokens.generated.swift
  tools/sgen/output/MSFPersonaViewTokens.generated.swift
Labels: vnext-prototype

#476 [DrawerVnext] Adding design token to Drawer Controller
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/DrawerDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/DrawerLegacyDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Drawer/DrawerController.swift
  ios/FluentUI/Drawer/DrawerPresentationController.swift
  ios/FluentUI/Drawer/DrawerShadowView.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.generated.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.swift
  ios/FluentUI/Obscurable/DimmingView.swift
  ios/FluentUI/Vnext/Core/AnimationCompletionModifier.swift
  ios/FluentUI/Vnext/Core/FluentUIStyle.generated.swift
  ios/FluentUI/Vnext/Core/UIKit+SwiftUI_interoperability.swift
  ios/FluentUI/Vnext/Drawer/Drawer+UIKit.swift
  ios/FluentUI/Vnext/Drawer/Drawer.swift
  ios/FluentUI/Vnext/Drawer/DrawerTokens.swift
  ios/FluentUI/Vnext/Drawer/SideOverPanel+Modifiers.swift
  ios/FluentUI/Vnext/Drawer/SlideOverPanel.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListHeaderFooter.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/FluentUIStyle.generated.swift
  tools/sgen/output/MSFDrawerTokens.generated.swift
Labels: vnext-prototype

#546 Adding resource granularity script to the Vnext podspec, bumping version to 0.0.2 for new release.
  MicrosoftFluentUIVnext.podspec
Labels: vnext-prototype

#548 Bumping versions for version update (0.2.6)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#541 [List vNext] Creating SwiftUI property exposure for UIView properties
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype
