Repository microsoft/fluentui-apple, pull requests merged in 2022-01, with the labels that each got.

#844 [vNext Tokens] Adding `ShadowInfo` and `FontInfo`
  ios/FluentUI.Tests/FontTests.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Core/Theme/Tokens/AliasTokens.swift
  ios/FluentUI/Core/Theme/Tokens/FontInfo.swift
  ios/FluentUI/Core/Theme/Tokens/GlobalTokens.swift
  ios/FluentUI/Core/Theme/Tokens/ShadowInfo.swift
Labels: vnext-tokens

#848 Fixing ComponentGovernanceComponentDetection task.
  .ado/fluentui-apple-cgcomponentdetection.yml
Labels: vnext-prototype

#846 [vNext Tokens] Use new token system for `FluentButton`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ButtonDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ThemingDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Card Nudge/CardNudge.swift
  ios/FluentUI/Command Bar/CommandBar.swift
  ios/FluentUI/Core/Theme/FluentTheme.swift
  ios/FluentUI/Core/Theme/Tokens/DynamicColor.swift
  ios/FluentUI/Core/Theme/Tokens/TokenizedControl.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Button/ButtonModifiers.swift
  ios/FluentUI/Vnext/Button/ButtonTokens.swift
  ios/FluentUI/Vnext/Button/MSFButton.swift
  ios/FluentUI/Vnext/Button/MSFButtonTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFButtonTokens.generated.swift
Labels: vnext-tokens

#853 [vnext-tokens] Converting Indeterminate Progress Bar to use new tokens.
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Core/Theme/Tokens/AliasTokens.swift
  ios/FluentUI/IndeterminateProgressBar/IndeterminateProgressBar.swift
  ios/FluentUI/IndeterminateProgressBar/IndeterminateProgressBarModifiers.swift
  ios/FluentUI/IndeterminateProgressBar/IndeterminateProgressBarTokens.swift
  ios/FluentUI/IndeterminateProgressBar/MSFIndeterminateProgressBar.swift
  ios/FluentUI/IndeterminateProgressBar/MSFIndeterminateProgressBarTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFIndeterminateProgressBarTokens.generated.swift
Labels: vnext-tokens

#833 Update usage of MSFSeparator and SwiftUI Divider to Fluent Divider
  MicrosoftFluentUI.podspec
  MicrosoftFluentUIVnext.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ActivityIndicatorDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/AvatarDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/BadgeFieldDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ButtonDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ColorDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/DividerDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/IndeterminateProgressBarDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/NotificationViewDemoController_SwiftUI.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/PeoplePickerDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ShimmerLinesViewDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/TableViewHeaderFooterViewDemoController.swift
  ios/FluentUI/Bottom Commanding/BottomCommandingController.swift
  ios/FluentUI/Calendar/CalendarView.swift
  ios/FluentUI/Date Time Pickers/Date Time Picker/Views/DateTimePickerView.swift
  ios/FluentUI/Drawer/DrawerPresentationController.swift
  ios/FluentUI/Navigation/Shy Header/ShyHeaderView.swift
  ios/FluentUI/Notification/NotificationView.swift
  ios/FluentUI/Other Cells/ActionsCell.swift
  ios/FluentUI/People Picker/PeoplePicker.swift
  ios/FluentUI/Popup Menu/PopupMenuController.swift
  ios/FluentUI/Popup Menu/PopupMenuItemCell.swift
  ios/FluentUI/SegmentedControl/SegmentedControl.swift
  ios/FluentUI/Tab Bar/SideTabBar.swift
  ios/FluentUI/Tab Bar/TabBarView.swift
  ios/FluentUI/Table View/TableViewCell.swift
  ios/FluentUI/Vnext/Divider/Divider.swift
  ios/FluentUI/Vnext/Divider/MSFDivider.swift
  ios/FluentUI/Vnext/Divider/MSFDividerTokens.generated.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/List/MSFListCellTokens.generated.swift
  ios/FluentUI/Vnext/Persona/PersonaViewTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFDividerTokens.generated.swift
  tools/sgen/output/MSFListCellTokens.generated.swift
Labels: vnext-prototype

#857 [vNext] Fixing broken pod lib lint
  MicrosoftFluentUI.podspec
  MicrosoftFluentUIVnext.podspec
Labels: vnext-prototype

#854 [vNext] Updating padding tokens for List + PersonaView
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/List/MSFListCellTokens.generated.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
  ios/FluentUI/Vnext/Persona/PersonaViewTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFListCellTokens.generated.swift
Labels: vnext-prototype

#867 Bumping versions for FluentUI release (0.4.2).
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI.Resources/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#852 [vNext Tokens] Update logic for token fetching to allow for style/size changes
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Card Nudge/CardNudge.swift
  ios/FluentUI/Card Nudge/CardNudgeModifiers.swift
  ios/FluentUI/Card Nudge/CardNudgeTokens.swift
  ios/FluentUI/Command Bar/CommandBar.swift
  ios/FluentUI/Command Bar/CommandBarTokens.swift
  ios/FluentUI/Core/Theme/FluentTheme.swift
  ios/FluentUI/Core/Theme/Tokens/ControlTokens.swift
  ios/FluentUI/Core/Theme/Tokens/TokenResolver.swift
  ios/FluentUI/Core/Theme/Tokens/TokenizedControl.swift
  ios/FluentUI/IndeterminateProgressBar/IndeterminateProgressBar.swift
  ios/FluentUI/IndeterminateProgressBar/IndeterminateProgressBarModifiers.swift
  ios/FluentUI/Vnext/Button/Button.swift
  ios/FluentUI/Vnext/Button/ButtonModifiers.swift
Labels: vnext-tokens

#851 [vnext-tokens] Converting Activity Indicator to use new tokens.
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/ActivityIndicator/ActivityIndicator.swift
  ios/FluentUI/ActivityIndicator/ActivityIndicatorModifiers.swift
  ios/FluentUI/ActivityIndicator/ActivityIndicatorTokens.swift
  ios/FluentUI/ActivityIndicator/MSFActivityIndicator.swift
  ios/FluentUI/ActivityIndicator/MSFActivityIndicatorTokens.generated.swift
  ios/FluentUI/Core/Theme/Tokens/AliasTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFActivityIndicatorTokens.generated.swift
Labels: vnext-tokens

#865 [vNext] Adopting protocols in List vNext
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ObjectiveCDemoController.m
  ios/FluentUI/Vnext/List/HeaderFooterTokens.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListHeaderFooter.swift
Labels: vnext-prototype

#872 [vNext Tokens] Convert `PersonaButton` and `PersonaButtonCarousel`
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/PersonaButton/MSFPersonaButtonTokens.generated.swift
  ios/FluentUI/PersonaButton/PersonaButton.swift
  ios/FluentUI/PersonaButton/PersonaButtonModifiers.swift
  ios/FluentUI/PersonaButton/PersonaButtonTokens.swift
  ios/FluentUI/PersonaButtonCarousel/MSFPersonaButtonCarouselTokens.generated.swift
  ios/FluentUI/PersonaButtonCarousel/PersonaButtonCarousel.swift
  ios/FluentUI/PersonaButtonCarousel/PersonaButtonCarouselModifiers.swift
  ios/FluentUI/PersonaButtonCarousel/PersonaButtonCarouselTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFPersonaButtonCarouselTokens.generated.swift
  tools/sgen/output/MSFPersonaButtonTokens.generated.swift
Labels: vnext-tokens

#874 [vNext Tokens] Convert `FluentDivider`
  ios/FluentUI.Demo/FluentUI.Demo/Demos/DividerDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Extensions/UIColor+Extensions.swift
  ios/FluentUI/Popup Menu/PopupMenuController.swift
  ios/FluentUI/Popup Menu/PopupMenuItemCell.swift
  ios/FluentUI/Vnext/Divider/Divider.swift
  ios/FluentUI/Vnext/Divider/DividerModifiers.swift
  ios/FluentUI/Vnext/Divider/DividerTokens.swift
  ios/FluentUI/Vnext/Divider/MSFDivider.swift
  ios/FluentUI/Vnext/Divider/MSFDividerTokens.generated.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFDividerTokens.generated.swift
Labels: vnext-tokens

#883 Bumping versions for FluentUI release (0.4.3).
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI.Resources/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#823 Implement show/hide of SwiftUI notification with UIKit
  ios/FluentUI.Demo/FluentUI.Demo/DemoTableViewController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/NotificationViewDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/NotificationViewDemoController_SwiftUI.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Extensions/EnvironmentValues+Extensions.swift
  ios/FluentUI/Notification/MSFNotificationTokens.swift
  ios/FluentUI/Notification/NotificationView.swift
  ios/FluentUI/Vnext/Notification/MSFNotificationView.swift
  ios/FluentUI/Vnext/Notification/NotificationView_SwiftUI.swift
Labels: vnext-prototype

#877 [vNext] Adopting to protocol in ListCell vNext
  ios/FluentUI.Demo/FluentUI.Demo/Demos/LeftNavDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ListDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ObjectiveCDemoController.m
  ios/FluentUI/Vnext/List/HeaderFooterTokens.swift
  ios/FluentUI/Vnext/List/List.swift
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
Labels: vnext-prototype
