Repository microsoft/fluentui-apple, pull requests merged in 2022-03, with the labels that each got.

#925 [vNext Tokens] Convert Drawer controller
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Drawer/DrawerController.swift
  ios/FluentUI/Drawer/DrawerPresentationController.swift
  ios/FluentUI/Drawer/DrawerShadowView.swift
  ios/FluentUI/Drawer/DrawerTokens.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.generated.swift
  ios/FluentUI/Drawer/MSFDrawerTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFDrawerTokens.generated.swift
Labels: vnext-tokens

#926 [vNext Tokens] Updating ListCell & PersonaView to new design token system
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Vnext/List/ListCell.swift
  ios/FluentUI/Vnext/List/ListTokens.swift
  ios/FluentUI/Vnext/List/MSFListCellTokens.generated.swift
  ios/FluentUI/Vnext/Persona/MSFPersonaView.swift
  ios/FluentUI/Vnext/Persona/MSFPersonaViewTokens.generated.swift
  ios/FluentUI/Vnext/Persona/PersonaView.swift
  ios/FluentUI/Vnext/Persona/PersonaViewTokens.swift
  tools/sgen/input/FluentUIStyle.yml
  tools/sgen/output/MSFListCellTokens.generated.swift
  tools/sgen/output/MSFPersonaViewTokens.generated.swift
Labels: vnext-tokens

#935 [vNext] Fixing divider padding
  ios/FluentUI/Vnext/List/ListCell.swift
Labels: vnext-prototype

#879 [vNext Tokens] Adding a new Appearance editor
  ios/FluentUI.Demo/FluentUI.Demo.xcodeproj/project.pbxproj
  ios/FluentUI.Demo/FluentUI.Demo/DemoAppearanceController.swift
  ios/FluentUI.Demo/FluentUI.Demo/DemoAppearanceView.swift
  ios/FluentUI.Demo/FluentUI.Demo/DemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/DemoTableViewController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ActivityIndicatorDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ButtonDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/CardNudgeDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/DividerDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ThemingDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Resources/Assets.xcassets/LeftNav/ic_fluent_settings_24_regular.imageset/Contents.json
  ios/FluentUI/ActivityIndicator/ActivityIndicator.swift
  ios/FluentUI/Core/ControlHostingContainer.swift
  ios/FluentUI/Core/Theme/FluentTheme.swift
  ios/FluentUI/Core/Theme/Tokens/ButtonDynamicColors.swift
  ios/FluentUI/Core/Theme/Tokens/ControlTokens.swift
Labels: vnext-tokens

#936 [vNext Tokens] Update rest and selected Pill Button tokens to match current design
  ios/FluentUI.Demo/FluentUI.Demo/Demos/PillButtonBarDemoController.swift
  ios/FluentUI/Pill Button Bar/PillButton.swift
  ios/FluentUI/Pill Button Bar/PillButtonBar.swift
  ios/FluentUI/Pill Button Bar/PillButtonTokens.swift
Labels: vnext-tokens

#940 [vNext] Tokenize Segmented Control
  ios/FluentUI.Demo/FluentUI.Demo/Demos.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/ColorDemoController.swift
  ios/FluentUI.Demo/FluentUI.Demo/Demos/SegmentedControlDemoController.swift
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/SegmentedControl/SegmentPillButton.swift
  ios/FluentUI/SegmentedControl/SegmentedControl.swift
  ios/FluentUI/SegmentedControl/SegmentedControlTokens.swift
Labels: vnext-tokens

#942 [vNext Tokens] Make `ControlHostingContainer` classes open
  ios/FluentUI/ActivityIndicator/MSFActivityIndicator.swift
  ios/FluentUI/Avatar/MSFAvatar.swift
  ios/FluentUI/AvatarGroup/MSFAvatarGroup.swift
  ios/FluentUI/Card Nudge/MSFCardNudge.swift
  ios/FluentUI/Core/ControlHostingContainer.swift
  ios/FluentUI/IndeterminateProgressBar/MSFIndeterminateProgressBar.swift
  ios/FluentUI/PersonaButton/MSFPersonaButton.swift
  ios/FluentUI/PersonaButtonCarousel/MSFPersonaButtonCarousel.swift
  ios/FluentUI/Vnext/Button/MSFButton.swift
  ios/FluentUI/Vnext/Divider/MSFDivider.swift
  ios/FluentUI/Vnext/List/MSFList.swift
  ios/FluentUI/Vnext/Notification/MSFNotificationView.swift
  ios/FluentUI/Vnext/Persona/MSFPersonaView.swift
Labels: vnext-tokens

#943 Removing unwanted animation on List Cell label.
  ios/FluentUI/Vnext/List/ListCell.swift
Labels: vnext-prototype

#941 [vNext Tokens] Update AvatarGroup to get Avatar tokens from the overflow Avatar
  ios/FluentUI/AvatarGroup/AvatarGroup.swift
  ios/FluentUI/AvatarGroup/AvatarGroupTokens.swift
Labels: vnext-tokens

#944 Bumping versions for FluentUI release (0.4.7)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI.Resources/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#951 [FHL] Introducing the SwiftUI PresentationModifier.
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Core/SwiftUI+ViewPresentation.swift
Labels: vnext-tokens

#952 [FHL] Adding the AnimationCompletionModifier.
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/Core/SwiftUI+ViewAnimation.swift
Labels: vnext-tokens

#949 [FHL] [vNext Tokens] Make SwiftUI control host be a `UIView` subclass, part 1
  ios/FluentUI.xcodeproj/project.pbxproj
  ios/FluentUI/ActivityIndicator/MSFActivityIndicator.swift
  ios/FluentUI/Avatar/MSFAvatar.swift
  ios/FluentUI/AvatarGroup/MSFAvatarGroup.swift
  ios/FluentUI/Card Nudge/MSFCardNudge.swift
  ios/FluentUI/Core/ControlHostingView.swift
  ios/FluentUI/IndeterminateProgressBar/MSFIndeterminateProgressBar.swift
  ios/FluentUI/PersonaButton/MSFPersonaButton.swift
  ios/FluentUI/PersonaButtonCarousel/MSFPersonaButtonCarousel.swift
  ios/FluentUI/Vnext/Button/MSFButton.swift
  ios/FluentUI/Vnext/Divider/MSFDivider.swift
  ios/FluentUI/Vnext/List/MSFList.swift
  ios/FluentUI/Vnext/Notification/MSFNotificationView.swift
  ios/FluentUI/Vnext/Persona/MSFPersonaView.swift
Labels: vnext-tokens

#955 Bumping version for FluentUI release (0.4.8)
  MicrosoftFluentUI.podspec
  ios/FluentUI.Demo/FluentUI.Demo/Info.plist
  ios/FluentUI.Resources/Info.plist
  macos/FluentUI/FluentUI-Info.plist
  macos/FluentUITestApp/FluentUITestApp-Info.plist
Labels: Version Update

#954 [FHL] Introducing the SquareShapedViewModifier.
  ios/FluentUI/Core/SwiftUI+ViewModifiers.swift
Labels: vnext-tokens
